.contact-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 500px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .contact-form button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #2980b9;
  }
  

/* For the contact page*/
.contact-form {
  margin: 35px auto 0px auto;
  width: 80%;
}

.contact-form label {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form input {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus {
  border-bottom: 2px solid #34495e;
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
  font-family: inter;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #34495e;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 12px 20px;
  background-color: #34495e;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #34495e;
}

.contact-form button:hover {
  background-color: #34495e;
  border-bottom: 3px solid #34495e;
}